@page
@model AsciiArtModel
@{
  ViewData["Title"] = "Ascii Art";
}

<form method="post">
  <fieldset>
    <div>
      <label for="text">Text:</label>
      <input type="text" id="text" name="text" />
    </div>
    <div>
      <input type="submit" value="Submit" class="submit" />
    </div>
  </fieldset>
</form>

@if (Model.ShowRenderedText)
{
  <pre>
    @Model.RenderedText
  </pre>
}